* {
	margin: 0;
	padding: 0;
}
body {
	display: flex;

	.PageNation {
		width: 400px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 5px;
		text-align: center;
	}
	.PageNation > ul {
		position: absolute;
		top: 20%;
		left: 14%;
	}
	.PageNation > ul li {
		display: inline-block;
		padding: 7px;
		font-size: 13px;
		font-weight: bold;
	}
	.PageNation > ul li.on {
		color: red;
		pointer-events: none;
	}
	.table {
		width: 800px;
		text-align: center;
	}
	.paging {
		width: 20%;
		margin-left: 150px;
	}
	.page-link {
		cursor: pointer;
	}
}
